body {
	margin: 0;
	padding: 0;
	
	font-family: 'Arvo', serif;
	font-size: 14px;
	/* color: black; */
}



h1 {
	font-size: 2em;
    color: blueviolet;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

/* ul, ol {
} */

a {
	text-decoration: none;
	color: black;
    font-weight: bolder;
    /* background-color: red; */
}

a:hover {
	color: #D613A0;
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
    /* background:  url(images/news.jpg)  bottom center fixed ; */
    /* border: 1px solid pink; */

	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
    /* border: 1px solid red; */
	
	overflow: hidden;
	width: 900px;
	height: 100px;
	margin: 0 auto;
}
#header h1{
	margin-top: 30px;
	letter-spacing: 1px;
}

/* Logo */

#logo {
	height: 100px;
	margin: 0;
	padding: 40px 0px 0px 0px;
	color: blueviolet;
	/* border: 1px solid green; */
}
#logo h1 {
	display: block;
	letter-spacing: 1px;
	text-transform:capitalize;
	text-align: center;
	font-size: 64px;
	/* border: 1px solid salmon; */
}

#logo span {
	letter-spacing: normal;
	font-size: 22px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: blueviolet;
}

/* Search */

#search {
	float: right;
	width: 280px;
	padding: 0;
}

#search form {
	float: right;
	/* height: 41px; */
	margin: 0;
	padding: 0px 40px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 220px;
	height: 35px;
	padding: 0px 10px;
	border: none;
	background: #636900;
	line-height: 35px;
	letter-spacing: 1px;
	text-transform: lowercase;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

#search-submit {
	display: none;
}

/* Menu */

/* #menu-wrapper {
	height: 60px;
	background: rgba(137, 43, 226, 0.65); */
	/* background: url(images/main-wrapper.jpg) repeat-x left top; */
/* } */

#menu {
	background: rgba(137, 43, 226, 0.705);
	width: 94%;
	height: 50px;
	margin: 0px auto 0 auto;
	padding: 0px 40px;
	text-align: center;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline-block;
	border-radius: 10px;
}

#menu a {
	display: inline-block;
	height: 50px;
	margin-right: 5px;
	padding: 0px 20px 0px 20px;
	line-height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
	background: rgba(0, 0, 0, 0.459);
	border-radius: 4px;

}

#menu a:hover {
	background : rgba(0, 0, 0, 0.459);
	border-radius: 4px;
}

#splash {
	width: 1000px;
	height: 260px;
	margin: 0px auto;
	background: url(images/img05.jpg) no-repeat left top;
}

/* Page */

#page {
	overflow: hidden;
	width: 900px;
	margin: 0px auto;
}

/* Content */

#content {

	color: black;
	float: right;
	width: 540px;
}
#content a{
    color: darkviolet;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 1.4px;
}
.post {
	margin-bottom: 30px;
	padding: 40px 40px;
	/* background: rgba(0,0,0,.75); */
}

.post .title {
	padding-bottom: 20px;
	letter-spacing: 0px;
	text-transform: lowercase;
	color: blueviolet;
}

.post .title a {
	border: none;
	color: blueviolet;
}

.post .meta {
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* .post .meta a {
} */

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	border-radius: 7px;
	float: left;
	width: 290px;
	height: 760px;
	padding: 30px 20px;
	background: rgba(0, 0, 0, 0.397);
}

#sidebar ul {
	margin-top: 10px;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 20px 15px;
	letter-spacing: -1px;
	color: blueviolet;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
	font-size: 18px;
	color: #FFFFFF;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #7F7F81;
}

/* Calendar */

/* #calendar {
} */

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	border-radius: 7pxw;
	color: white;
	width: 900px;
	height: auto;
	padding-bottom: 25px;
	margin: 0px auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background: rgba(0,0,0,.5);
}

#footer p {
	margin: 0;
	padding-top: 25px;
	line-height: normal;
	text-transform: lowercase;
	text-align: center;
	font-size: 16px;
}

#footer a {
	text-decoration: underline;
}

#about {
	overflow: hidden;
	width: 820px;
	margin: 30px auto 0px auto;
	padding: 40px 40px;
	background: rgba(0,0,0,.5);
}

#about .title {
	padding-bottom: 10px;
	/* letter-spacing: -1px; */
	text-transform: lowercase;
	color: blueviolet;
}

#two-column {
	padding-top: 30px;
}

#two-column h2 {
	padding-bottom: 20px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 30px;
	color: #A26500;
}

#two-column #column1 {
	float: left;
	width: 390px;
}

#two-column #column2 {
	float: right;
	width: 390px;
}

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 5px 0px;
	border-top: 1px solid #EEEEEE;
}

.list-style1 a:hover {
	text-decoration: underline;
}

.list-style1 .first {
	border-top: none;
}

#banner {
	width: 900px;
	margin: 30px auto;
}

.featured-post {
	padding: 0px 0px 30px 0px;
}

.featured-post .title {
	padding-bottom: 20px;
	color: #D613A0;
}

.featured-post a {
	color: #901609;
}