.container{
    /* background: rgba(139, 243, 217, 0.602); */
    background-color: rgba(0, 0, 0, 0.424);
    padding-top:10px;
    padding-bottom: 10px ;
    width: 450px;
    margin-top: 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 7px;
}
h1{
    color: orangered;
}
.container form table tr td input{
    width: 230px;
}
.container form table tr td{
    font-weight: 500;
}
#gender{
    width: 20px;
}
#btn2,#btn1{
    width: 100px;
    /* text-decoration: none; */
    border: none;
    background: orangered;
    letter-spacing: 2px;
    border-radius: 4px;
    height: 30px;
    font-size: 17px;
    font-weight: 600;
}
#btn1:hover{
    color : white;
    background: rgba(64, 64, 253, 0.883);
    /* border: 1px solid black; */
    /* border-radius: 4px; */
}
#btn2:hover{
    color : white;
    background: rgba(64, 64, 253, 0.883);
}
